[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
fastapi = "<1,>=0.111"
fastapi-users = "==12.*"
fastapi-users-db-sqlalchemy = "==7.*"
sqlalchemy = ">=2"
uvicorn = "*"
email-validator = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pydantic-settings = "*"
aiosqlite = "*"
setuptools = "*"
bcrypt = "==4.0.1"
tzlocal = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
